@use 'sass:map';

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import './variables.scss';

* {
	box-sizing: border-box;
}

#root {
	height: 100vh;
}

html {
	width: 100%;
	width: -webkit-fill-available;
	height: 100%;
	height: -webkit-fill-available;
	overflow-x: hidden;
	font-size: 10px;
}

body {
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	font-family: 'Archivo', sans-serif;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
}

main {
	height: 100%;
}

input,
select,
textarea,
button {
	font-family: inherit;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
	white-space: pre-line;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
	vertical-align: middle;
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}

button {
	padding: 0;
	user-select: none;
	background-color: transparent;
	border: none;
	outline: none;

	&:enabled {
		cursor: pointer;
	}
}

a {
	cursor: pointer;
}

input {
	border: none;
	outline: none;
}

textarea {
	border: none;
	outline: none;
}

mark {
	padding: map.get($sizes, spacing-s);
}

menu {
	padding: 0;
}

hr {
	margin: 0;
	border: none;
}
